.heroSec
    width: 98.8vw
    height: 90vh
    background-color: #eeeeee
    display: flex
    margin-bottom: 2%
    .heroDiv
        width: 55%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        margin-left: 3%
        gap: 4%
        .heroTDiv
            width: 60%
            .heroTitle
        .heroPDiv
            width: 80%
            .heroP
        .heroBDiv
            width: 40%
            height: 7%
            display: flex
            justify-content: space-between
            align-items: center
            .heroButton
                width: 60%
                height: 70%
                color: white
                background-color: #ce1212
            .heroWDiv
                .heroWatch
    .imgDiv
        width: 45%
        display: flex
        justify-content: center
        align-items: center
        .heroImg
            height: 80%
.sec2
    width: 98.8vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 2%
    .sec2TDiv
        width: 100%
        height: 20%
        display: flex
        flex-direction: column
        align-items: center

        gap: 2%
        .aboutT
    .imagDiv
        width: 100%
        height: 80%
        display: flex
        gap: 2%
        justify-content: space-around
        .leftImgDiv
            width: 50%
            height: 100%
            background-image: url("../../public/img/about\(1\).jpg")
            background-repeat: no-repeat
            background-size: cover
            position: relative
            display: flex
            justify-content: center
            align-items: end
        .cardRIDiv
            background-color: #fff
            width: 60%
            height: 20%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-bottom: 10%
            a
                text-decoration: none
                color: #a10d0d
    .righvidDiv
        width: 40%
        height: 100%
        .rightVTitlesDiv
        .righttVDiv
.sec3
    width: 98.7vw
    height: 70vh
    background-color: #eeeeee
    display: flex
    flex-wrap: wrap
    gap: 2%
    justify-content: center
    align-items: center
    .whyDiv
        width: 30%
        height: 80%
        background-color: #ce1212
        color: white
        padding: 1%
        display: flex
        flex-direction: column
        justify-content: center
        .whyH
        .whyP
        .whyB
            width: 40%
            height: 10%
    .card1Div
        width: 20%
        height: 70%
        background-color: white
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-around
    .card2Div
        width: 20%
        height: 70%
        background-color: white
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-around
    .card3Div
        width: 20%
        height: 70%
        background-color: white
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-around
.sec4
    width: 98.7vw
    height: 50vh
    padding-bottom: 3%
    .bgDiv
        width: 100%
        height: 100%
        justify-content: space-around
        align-items: center
        background-image: url("../../public/img/stats-bg.jpg")
        background-attachment: fixed
        position: relative
        background-size: cover , contain
        background-position: center
        background-repeat: no-repeat
        .bgP
            width: 100%
            height: 100%
            opacity: 50%
            z-index: 1
            position: absolute
        .bgCDiv
            color: white

            z-index: 2
.menuSec4
    width: 98.7vw
    height: 220vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    gap: 3%
    .menuT
        width: 100%
        height: 30%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

.sec5
    width: 98.7vw
    height: 60vh
    background-color: #eeeeee
    display: flex
    justify-content: center
    align-items: center
    .carousel
        width: 100%
        height: 100%
        .carousel-inner
            width: 100%
            height: 100%

            .carousel-item
                width: 100%
                height: 100%
                gap: 2%
                .tDiv
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: space-around
                    align-items: center

                    .testi
                        width: 50%
                        height: 100%
                        display: flex
                        flex-direction: column
                        justify-content: center

                    .line
                        width: 0.5%
                        height: 30%
                        background-color: black
                    .testiDiv
                        width: 12%
                        height: 30%
                        border-radius: 50%
                        background-image: url("../../public/img/testimonials/testimonials-2.jpg")
                        background-repeat: no-repeat
                        background-size: cover
                        border: solid white 6px
.sec6
    width: 98.7vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
.sec7
    width: 98.7vw
    height: 100vh
    background-color: #eeeeee
    .container
        width: 100%
        height: 100%
        .card
            &:hover
                width: 26% !important
                border: solid #ce1216

                transition: width 0.3s

    .sec7T
        width: 100%
        height: 20%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
.sec8
    width: 98.7vw
    height: 90vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .sec8T
        width: 100%
        height: 20%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    .sec8Form
        width: 90%
        height: 75%
        background-color: #eeeeee
        display: flex
        .formImgDiv
            width: 30%
            height: 100%
            display: flex
            flex-wrap: wrap
            background-image: url("../../public/img/reservation.jpg")
            background-size: cover
            background-repeat: no-repeat
        .formDiv
            width: 70%
            height: 100%
            gap: 5%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .frm
                width: 100%
                height: 80%
                gap: 6%
                display: flex
                flex-direction: column
                align-items: center

                .pInfo
                    width: 90%
                    height: 40%
                    display: flex
                    flex-wrap: wrap
                    input
                        width: 30%
                        height: 25%
                .msgDiv

                    width: 100%
                    height: 50%
                button
                    height: 16%
                    background-color: #ce1212
.sec9
    width: 98.7vw
    height: 80vh
    background-color: #eeeeee
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .container
        gap: 5%
        width: 80%
        height: 100%
        display: flex
        overflow: hidden
        color: white
        .sec9Div1
            width: 30%
            height: 90%
            position: fixed
            background-image: url("../../public/img/events-1.jpg")
            background-size: cover
            background-repeat: no-repeat
            padding: 3%
            background-color: red
            display: flex
            align-items: flex-end

        .sec9Div2
            width: 30%
            height: 90%
            background-image: url("../../public/img/events-2.jpg")
            background-size: cover
            background-repeat: no-repeat
            padding: 3%
            background-color: red
            display: flex
            align-items: flex-end

        .sec9Div3
            width: 30%
            height: 90%
            background-image: url("../../public/img/events-3.jpg")
            background-size: cover
            background-repeat: no-repeat
            padding: 3%
            background-color: red
            display: flex
            align-items: flex-end

        .sec9Div4
            width: 30%
            height: 90%
            background-image: url("../../public/img/events-1.jpg")
            background-size: cover
            background-repeat: no-repeat
            padding: 3%
            background-color: red
            display: flex
            align-items: flex-end

        // .controlBtn
        // width: 50%

        // justify-content: space-between
        // position: absolute
        // background-color: #fff

    .sec9T
        width: 80%
        height: 100%
        position: absolute
        background-color: #ffffff07
        display: flex

    .btnDiv
        width: 10%
        height: 2%
        margin-bottom: 2%
        display: flex
        justify-content: space-around
        .btnSlide
            width: 15px
            height: 15px
            background-color: black

// .sec10
//     width: 100vw
//     height: 150vh
//     display: flex
//     flex-direction: column
//     .sec10Div
//         width: 100%
//         height: 100%
//         justify-content: center
//         .mapDiv
//             width: 100%
//             height: 37.5%
//             background-color: red
//         .contacts
//         .sec10T
//         .form2
//             button

// @media screen and (max-width: 430px)
//     .imgDiv
.modalDiv
    width: 100vw
    height: 100vh
    position: fixed
    display: none

    flex-direction: column
    justify-content: center
    align-items: center
    .modalContainer
        width: 60%
        height: 60%
        background-color: #fff
        position: absolute
        z-index: 1
        border-radius: 10px
        .btnsDiv
            width: 100%
            height: 20%
            .signup
                width: 50%
                height: 10%
            .log-in

    .bgmodal
        width: 100%
        height: 100%
        background-color: black
        position: relative
        opacity: 50%
        .closeMdl
            width: 10%
            height: 10%
            background-color: red
.vidDiv
    width: 100vw
    height: 100vh
    background-color: black
    opacity: 50%
    position: absolute
    

.vidContainer
    width: 80%
    height: 80%
    position: fixed
    
    
    
    .vid
        position: fixed
        background-color: #fff
        z-index: 1
        width: 80%
        height: 80%

        z-index: 1
